.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: custom-animation infinite 10s linear; */
    animation: custom-animation infinite 30s ease-in-out alternate;
  }
}

.App-header {
  background-color: #020202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #510303;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Begin custom code */

@font-face {
  font-family: subHeader;
  src: url(assets/fonts/Satisfy-Regular.ttf);
}

@font-face {
  font-family: poem;
  src: url(assets/fonts/SyneMono-Regular.ttf);
}

.poem {
  /* background-color: #020202; */
  background-image: url("assets/images/poem_bg.png");
  background-size: auto;
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #8C0B0B;
  font-family: poem;
}

h1, h2, h3 {
  font-family: subHeader;
  font-weight: 600;
}

.secretQuote {
  background-color: #020202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #EA1A1A;
  font-family: poem;
  line-height: 10%;
	letter-spacing: 3%;
}

.secretInput {
  background-color: #020202;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(3px + 2vmin);
  color: #EA1A1A;
  font-family: poem;
}

.secretInput input {
  font-size: calc(3px + 2vmin);
  width: 50%;
  background-color: #020202;
  color: #EA1A1A;
  font-family: poem;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #510303;
  opacity: 1; /* Firefox */
}

.secretInput button {
    background-color: #020202;
    border: 3px dashed #EA1A1A;
    color: #EA1A1A;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.secretInput button:hover {
  background-color: #EA1A1A;
  color: #020202;
}

.secretInput button:focus {
  background-color: #510303;
  color: #020202;
}

.scene {
  background-color: #020202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #EA1A1A;
  font-family: poem;
}

@keyframes custom-animation {
  from {
    transform: scale3d(0, 0, 0);
  }
  to {
    transform: scale3d(2.5, 1.2, 0.3);
  }
}